<section class="product-container">
    <div class="product-img-container">
        <img [src]="produto?.imagem">
    </div>
    <div class="product-desc-container">
        <h2 class="product-name">{{produto?.descricao}}</h2>
        <h3 class="product-price">Preço {{produto?.preco | currency:"BRL"}}</h3>
        <p>Disponível em estoque:</p>
        <label>
            Quantidade: <input type="number" [(ngModel)]="quantidade">
        </label>
        <p class="product-avaiability">Quantidade em estoque: 10 und</p>
        <button>Adicionar ao carrinho</button>
    </div>
</section>
