<header>
    <!--Os ícones das redes sociais e demais elementos serão importados do https://fontawesome.com-->
    <h1>
        <span>be</span><span>NINJA!</span>
    </h1>
    <nav>
        <ul>
            <li>
                <a>Produto</a>
            </li>
            <li>
                <a>
                    Carrinho
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </li>
            <li>
                <a>Contato</a>
            </li>
            <li>
                <a>
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>
