<header>
    <!--Os ícones das redes sociais e demais elementos serão importados do https://fontawesome.com-->
    <h1 class="title">
        <span class="title-amarelo">be</span><span class="title-laranja">NINJA!</span>
    </h1>
    <div class="container-menu">
        <nav class="menu">
            <ul>
                <li>
                    <a>Produto</a>
                </li>
                <li>
                    <a>
                        Carrinho
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="badge-carrinho">0</span>
                    </a>
                </li>
                <li>
                    <a>Contato</a>
                </li>
                <li>
                    <a>
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <form action="" class="search-bar">
            <input type="text" id="idsearch">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</header>
