header{
    padding: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}
.container-menu{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
}
.title {
    font-family: var(--naruto);
    font-size: 60px;
}
.title-amarelo{
    color: var(--amarelo);
}
.title-laranja{
    color: var(--laranja);
}
.menu ul {
    display: flex;
    justify-content: flex-end; 
}
.menu a {
    padding: 10px 10px;
    color: var(--gray);
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.menu a:hover{
    background-color: var(--azul);
    color: #fff;
}
.badge-carrinho {
    background-color: var(--dark-blue);
    padding: 5px 10px;    
    border-radius: 4px;
    color: white;
}
.search-bar{
    height: 44px;
    display: flex;
}
.search-bar input{
    box-sizing: border-box;
    height: 50px;
    padding: 28px;
    flex:1;
    background-color: lightgray;
    color: gray;
    border: none;
    transition: all -3s ease-in-out;
    font-size: 22px;
}
.search-bar button {
    width: 56px;
    height: 56px;
    background-color: var(--azul);
    border:none;
    color: #fff;
    font-size: 22px;
}